.fundingOpenBtnBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 74px;
    width: 416px;
}
  
.fundingOpenBtnView {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 74px;
    width: 100%;
    
    .fundingOpenBtnOverlap {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 37px;
        width: 120px;

    }
  
    .fundingOpenBtn {
        color: #000000;
        font-size: 17px;
        font-weight: 400;
        text-align: center;
        width: 100%;
        cursor: pointer;
        background-color: #ffc83b;
        border-radius: 10px;
    }
    .fundingOpenBtn:hover{
        background-color: #000000;
        color:white;
      
    }
  
    .fundingOpenBtnTitle {
          justify-self: flex-start;
          color: #000000;
          font-size: 20px;
          font-weight: 500;
          white-space: nowrap;
          width: 100%;
     
    }
}
  
  @media (max-width: 768px) {
      .view {
        flex-direction: column;
      }
  }